    <!-- Style -->
    <link rel="stylesheet" href="{{ 'assets/stylesheets/fonts.css'|url }}" />
    <link rel="stylesheet" href="{{ 'assets/stylesheets/reset.css'|url }}" />
    <link rel="stylesheet" href="{{ 'assets/stylesheets/pagerduty.css'|url }}" />
    <link rel="stylesheet" href="{{ 'assets/stylesheets/code.css'|url }}" />
    {% if page and page.meta and page.meta.style %}
      <link rel="stylesheet" href="{{ ('assets/stylesheets/' ~ page.meta.style ~ '.css')|url }}" />
    {% endif %}
    {% for path in extra_css %}
      <link rel="stylesheet" href="{{ path|url }}" />
    {% endfor %}
